section.section.doctors-carousel
    .container
        h3.section__title._left Врачи

        .doctors-carousel__init
            .doctors-carousel__slide
                .doctor
                    a.doctor__img(href="doctor.html")
                        picture
                            source(type="image/webp" srcset="img/tmp/doctor-1@2x.webp 2x, img/tmp/doctor-1.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/doctor-1@2x.jpg 2x, img/tmp/doctor-1.jpg 1x")
                            img(src="img/tmp/doctor-1.jpg" alt="" width="362" height="244")
                    .doctor__content
                        .doctor__position Хирург-имплантолог
                        a.doctor__title.border-bottom(href="doctor.html") Вознюк Владимир Александрович
                        .doctor__special <strong>Специализация:</strong> хирург-имплантолог Челюстно-лицевой хирург-имплантолог высшей категории
                        .doctor__special <strong>стаж:</strong> 28 лет
                        a.doctor__link.more(href="doctor.html") Подробнее
                            svg(width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                                use(xlink:href="#svg-back")
            .doctors-carousel__slide
                .doctor
                    a.doctor__img(href="doctor.html")
                        picture
                            source(type="image/webp" srcset="img/tmp/doctor-2@2x.webp 2x, img/tmp/doctor-2.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/doctor-2@2x.jpg 2x, img/tmp/doctor-2.jpg 1x")
                            img(src="img/tmp/doctor-2.jpg" alt="" width="362" height="244")
                    .doctor__content
                        .doctor__position Хирург-имплантолог
                        a.doctor__title.border-bottom(href="doctor.html") Вознюк Владимир Александрович
                        .doctor__special <strong>Специализация:</strong> хирург-имплантолог Челюстно-лицевой хирург-имплантолог высшей категории
                        .doctor__special <strong>стаж:</strong> 28 лет
                        a.doctor__link.more(href="doctor.html") Подробнее
                            svg(width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                                use(xlink:href="#svg-back")
            .doctors-carousel__slide
                .doctor
                    a.doctor__img(href="doctor.html")
                        picture
                            source(type="image/webp" srcset="img/tmp/doctor-3@2x.webp 2x, img/tmp/doctor-3.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/doctor-3@2x.jpg 2x, img/tmp/doctor-3.jpg 1x")
                            img(src="img/tmp/doctor-3.jpg" alt="" width="362" height="244")
                    .doctor__content
                        .doctor__position Хирург-имплантолог
                        a.doctor__title.border-bottom(href="doctor.html") Вознюк Владимир Александрович
                        .doctor__special <strong>Специализация:</strong> хирург-имплантолог Челюстно-лицевой хирург-имплантолог высшей категории
                        .doctor__special <strong>стаж:</strong> 28 лет
                        a.doctor__link.more(href="doctor.html") Подробнее
                            svg(width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                                use(xlink:href="#svg-back")
            .doctors-carousel__slide
                .doctor
                    a.doctor__img(href="doctor.html")
                        picture
                            source(type="image/webp" srcset="img/tmp/doctor-1@2x.webp 2x, img/tmp/doctor-1.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/doctor-1@2x.jpg 2x, img/tmp/doctor-1.jpg 1x")
                            img(src="img/tmp/doctor-1.jpg" alt="" width="362" height="244")
                    .doctor__content
                        .doctor__position Хирург-имплантолог
                        a.doctor__title.border-bottom(href="doctor.html") Вознюк Владимир Александрович
                        .doctor__special <strong>Специализация:</strong> хирург-имплантолог Челюстно-лицевой хирург-имплантолог высшей категории
                        .doctor__special <strong>стаж:</strong> 28 лет
                        a.doctor__link.more(href="doctor.html") Подробнее
                            svg(width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                                use(xlink:href="#svg-back")
            .doctors-carousel__slide
                .doctor
                    a.doctor__img(href="doctor.html")
                        picture
                            source(type="image/webp" srcset="img/tmp/doctor-2@2x.webp 2x, img/tmp/doctor-2.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/doctor-2@2x.jpg 2x, img/tmp/doctor-2.jpg 1x")
                            img(src="img/tmp/doctor-2.jpg" alt="" width="362" height="244")
                    .doctor__content
                        .doctor__position Хирург-имплантолог
                        a.doctor__title.border-bottom(href="doctor.html") Вознюк Владимир Александрович
                        .doctor__special <strong>Специализация:</strong> хирург-имплантолог Челюстно-лицевой хирург-имплантолог высшей категории
                        .doctor__special <strong>стаж:</strong> 28 лет
                        a.doctor__link.more(href="doctor.html") Подробнее
                            svg(width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                                use(xlink:href="#svg-back")
            .doctors-carousel__slide
                .doctor
                    a.doctor__img(href="doctor.html")
                        picture
                            source(type="image/webp" srcset="img/tmp/doctor-3@2x.webp 2x, img/tmp/doctor-3.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/doctor-3@2x.jpg 2x, img/tmp/doctor-3.jpg 1x")
                            img(src="img/tmp/doctor-3.jpg" alt="" width="362" height="244")
                    .doctor__content
                        .doctor__position Хирург-имплантолог
                        a.doctor__title.border-bottom(href="doctor.html") Вознюк Владимир Александрович
                        .doctor__special <strong>Специализация:</strong> хирург-имплантолог Челюстно-лицевой хирург-имплантолог высшей категории
                        .doctor__special <strong>стаж:</strong> 28 лет
                        a.doctor__link.more(href="doctor.html") Подробнее
                            svg(width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                                use(xlink:href="#svg-back")

        .section__more
            a.button._yellow(href="doctors.html") все врачи