section.section.doctor-video._big-padding
    .container
        h2.section__subtitle Видео с доктором

        .doctor-video__init
            .doctor-video__slide
                .video-reviews._thumb
                    .video-reviews__col._img
                        picture
                            source(type="image/webp" srcset="img/video-reviews-thumb@2x.webp 2x, img/video-reviews-thumb.webp 1x")
                            source(type="image/png" srcset="img/video-reviews-thumb@2x.png 2x, img/video-reviews-thumb.png 1x")
                            img.video-reviews__img(src="img/video-reviews-thumb.png" alt="" width="235" height="132")
                        a.video-reviews__link(href="https://www.youtube.com/watch?v=iUHQPAlVza8" data-fancybox)
                            picture
                                source(type="image/webp" srcset="img/tmp/video-reviews-thumb-1@2x.webp 2x, img/tmp/video-reviews-thumb-1.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/video-reviews-thumb-1@2x.jpg 2x, img/tmp/video-reviews-thumb-1.jpg 1x")
                                img.video-reviews__user(src="img/tmp/video-reviews-thumb-1.jpg" alt="" width="107" height="107")
                            .video-reviews__play
                                svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-play")

                    .video-reviews__col._content
                        .video-reviews__title Установка 7 имплантов и синус-лифтинг

            .doctor-video__slide
                .video-reviews._thumb
                    .video-reviews__col._img
                        picture
                            source(type="image/webp" srcset="img/video-reviews-thumb@2x.webp 2x, img/video-reviews-thumb.webp 1x")
                            source(type="image/png" srcset="img/video-reviews-thumb@2x.png 2x, img/video-reviews-thumb.png 1x")
                            img.video-reviews__img(src="img/video-reviews-thumb.png" alt="" width="235" height="132")
                        a.video-reviews__link(href="https://www.youtube.com/watch?v=iUHQPAlVza8" data-fancybox)
                            picture
                                source(type="image/webp" srcset="img/tmp/video-reviews-thumb-2@2x.webp 2x, img/tmp/video-reviews-thumb-2.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/video-reviews-thumb-2@2x.jpg 2x, img/tmp/video-reviews-thumb-2.jpg 1x")
                                img.video-reviews__user(src="img/tmp/video-reviews-thumb-2.jpg" alt="" width="107" height="107")
                            .video-reviews__play
                                svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-play")

                    .video-reviews__col._content
                        .video-reviews__title Врачи исправили ошибку 1993 годв

            .doctor-video__slide
                .video-reviews._thumb
                    .video-reviews__col._img
                        picture
                            source(type="image/webp" srcset="img/video-reviews-thumb@2x.webp 2x, img/video-reviews-thumb.webp 1x")
                            source(type="image/png" srcset="img/video-reviews-thumb@2x.png 2x, img/video-reviews-thumb.png 1x")
                            img.video-reviews__img(src="img/video-reviews-thumb.png" alt="" width="235" height="132")
                        a.video-reviews__link(href="https://www.youtube.com/watch?v=iUHQPAlVza8" data-fancybox)
                            picture
                                source(type="image/webp" srcset="img/tmp/video-reviews-thumb-3@2x.webp 2x, img/tmp/video-reviews-thumb-3.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/video-reviews-thumb-3@2x.jpg 2x, img/tmp/video-reviews-thumb-3.jpg 1x")
                                img.video-reviews__user(src="img/tmp/video-reviews-thumb-3.jpg" alt="" width="107" height="107")
                            .video-reviews__play
                                svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-play")

                    .video-reviews__col._content
                        .video-reviews__title 10 лет прошло и никаких проблем

            .doctor-video__slide
                .video-reviews._thumb
                    .video-reviews__col._img
                        picture
                            source(type="image/webp" srcset="img/video-reviews-thumb@2x.webp 2x, img/video-reviews-thumb.webp 1x")
                            source(type="image/png" srcset="img/video-reviews-thumb@2x.png 2x, img/video-reviews-thumb.png 1x")
                            img.video-reviews__img(src="img/video-reviews-thumb.png" alt="" width="235" height="132")
                        a.video-reviews__link(href="https://www.youtube.com/watch?v=iUHQPAlVza8" data-fancybox)
                            picture
                                source(type="image/webp" srcset="img/tmp/video-reviews-thumb-4@2x.webp 2x, img/tmp/video-reviews-thumb-4.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/video-reviews-thumb-4@2x.jpg 2x, img/tmp/video-reviews-thumb-4.jpg 1x")
                                img.video-reviews__user(src="img/tmp/video-reviews-thumb-4.jpg" alt="" width="107" height="107")
                            .video-reviews__play
                                svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-play")

                    .video-reviews__col._content
                        .video-reviews__title Установка 7 имплантов и синус лифтинг

            .doctor-video__slide
                .video-reviews._thumb
                    .video-reviews__col._img
                        picture
                            source(type="image/webp" srcset="img/video-reviews-thumb@2x.webp 2x, img/video-reviews-thumb.webp 1x")
                            source(type="image/png" srcset="img/video-reviews-thumb@2x.png 2x, img/video-reviews-thumb.png 1x")
                            img.video-reviews__img(src="img/video-reviews-thumb.png" alt="" width="235" height="132")
                        a.video-reviews__link(href="https://www.youtube.com/watch?v=iUHQPAlVza8" data-fancybox)
                            picture
                                source(type="image/webp" srcset="img/tmp/video-reviews-thumb-1@2x.webp 2x, img/tmp/video-reviews-thumb-1.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/video-reviews-thumb-1@2x.jpg 2x, img/tmp/video-reviews-thumb-1.jpg 1x")
                                img.video-reviews__user(src="img/tmp/video-reviews-thumb-1.jpg" alt="" width="107" height="107")
                            .video-reviews__play
                                svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-play")

                    .video-reviews__col._content
                        .video-reviews__title Установка 7 имплантов и синус лифтинг

            .doctor-video__slide
                .video-reviews._thumb
                    .video-reviews__col._img
                        picture
                            source(type="image/webp" srcset="img/video-reviews-thumb@2x.webp 2x, img/video-reviews-thumb.webp 1x")
                            source(type="image/png" srcset="img/video-reviews-thumb@2x.png 2x, img/video-reviews-thumb.png 1x")
                            img.video-reviews__img(src="img/video-reviews-thumb.png" alt="" width="235" height="132")
                        a.video-reviews__link(href="https://www.youtube.com/watch?v=iUHQPAlVza8" data-fancybox)
                            picture
                                source(type="image/webp" srcset="img/tmp/video-reviews-thumb-1@2x.webp 2x, img/tmp/video-reviews-thumb-1.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/video-reviews-thumb-1@2x.jpg 2x, img/tmp/video-reviews-thumb-1.jpg 1x")
                                img.video-reviews__user(src="img/tmp/video-reviews-thumb-1.jpg" alt="" width="107" height="107")
                            .video-reviews__play
                                svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-play")

                    .video-reviews__col._content
                        .video-reviews__title Установка 7 имплантов и синус-лифтинг

            .doctor-video__slide
                .video-reviews._thumb
                    .video-reviews__col._img
                        picture
                            source(type="image/webp" srcset="img/video-reviews-thumb@2x.webp 2x, img/video-reviews-thumb.webp 1x")
                            source(type="image/png" srcset="img/video-reviews-thumb@2x.png 2x, img/video-reviews-thumb.png 1x")
                            img.video-reviews__img(src="img/video-reviews-thumb.png" alt="" width="235" height="132")
                        a.video-reviews__link(href="https://www.youtube.com/watch?v=iUHQPAlVza8" data-fancybox)
                            picture
                                source(type="image/webp" srcset="img/tmp/video-reviews-thumb-2@2x.webp 2x, img/tmp/video-reviews-thumb-2.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/video-reviews-thumb-2@2x.jpg 2x, img/tmp/video-reviews-thumb-2.jpg 1x")
                                img.video-reviews__user(src="img/tmp/video-reviews-thumb-2.jpg" alt="" width="107" height="107")
                            .video-reviews__play
                                svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-play")

                    .video-reviews__col._content
                        .video-reviews__title Врачи исправили ошибку 1993 годв

            .doctor-video__slide
                .video-reviews._thumb
                    .video-reviews__col._img
                        picture
                            source(type="image/webp" srcset="img/video-reviews-thumb@2x.webp 2x, img/video-reviews-thumb.webp 1x")
                            source(type="image/png" srcset="img/video-reviews-thumb@2x.png 2x, img/video-reviews-thumb.png 1x")
                            img.video-reviews__img(src="img/video-reviews-thumb.png" alt="" width="235" height="132")
                        a.video-reviews__link(href="https://www.youtube.com/watch?v=iUHQPAlVza8" data-fancybox)
                            picture
                                source(type="image/webp" srcset="img/tmp/video-reviews-thumb-3@2x.webp 2x, img/tmp/video-reviews-thumb-3.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/video-reviews-thumb-3@2x.jpg 2x, img/tmp/video-reviews-thumb-3.jpg 1x")
                                img.video-reviews__user(src="img/tmp/video-reviews-thumb-3.jpg" alt="" width="107" height="107")
                            .video-reviews__play
                                svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-play")

                    .video-reviews__col._content
                        .video-reviews__title 10 лет прошло и никаких проблем

            .doctor-video__slide
                .video-reviews._thumb
                    .video-reviews__col._img
                        picture
                            source(type="image/webp" srcset="img/video-reviews-thumb@2x.webp 2x, img/video-reviews-thumb.webp 1x")
                            source(type="image/png" srcset="img/video-reviews-thumb@2x.png 2x, img/video-reviews-thumb.png 1x")
                            img.video-reviews__img(src="img/video-reviews-thumb.png" alt="" width="235" height="132")
                        a.video-reviews__link(href="https://www.youtube.com/watch?v=iUHQPAlVza8" data-fancybox)
                            picture
                                source(type="image/webp" srcset="img/tmp/video-reviews-thumb-4@2x.webp 2x, img/tmp/video-reviews-thumb-4.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/video-reviews-thumb-4@2x.jpg 2x, img/tmp/video-reviews-thumb-4.jpg 1x")
                                img.video-reviews__user(src="img/tmp/video-reviews-thumb-4.jpg" alt="" width="107" height="107")
                            .video-reviews__play
                                svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-play")

                    .video-reviews__col._content
                        .video-reviews__title Установка 7 имплантов и синус лифтинг

            .doctor-video__slide
                .video-reviews._thumb
                    .video-reviews__col._img
                        picture
                            source(type="image/webp" srcset="img/video-reviews-thumb@2x.webp 2x, img/video-reviews-thumb.webp 1x")
                            source(type="image/png" srcset="img/video-reviews-thumb@2x.png 2x, img/video-reviews-thumb.png 1x")
                            img.video-reviews__img(src="img/video-reviews-thumb.png" alt="" width="235" height="132")
                        a.video-reviews__link(href="https://www.youtube.com/watch?v=iUHQPAlVza8" data-fancybox)
                            picture
                                source(type="image/webp" srcset="img/tmp/video-reviews-thumb-1@2x.webp 2x, img/tmp/video-reviews-thumb-1.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/video-reviews-thumb-1@2x.jpg 2x, img/tmp/video-reviews-thumb-1.jpg 1x")
                                img.video-reviews__user(src="img/tmp/video-reviews-thumb-1.jpg" alt="" width="107" height="107")
                            .video-reviews__play
                                svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    use(xlink:href="#svg-play")

                    .video-reviews__col._content
                        .video-reviews__title Установка 7 имплантов и синус лифтинг
