section.section.doctor-page._pt0
    .container
        .doctor-page__cols
            .doctor-page__col._left
                picture.doctor-page__avatar
                    source(type="image/webp" srcset="img/tmp/doctor-page-avatar@2x.webp 2x, img/tmp/doctor-page-avatar.webp 1x")
                    source(type="image/jpeg" srcset="img/tmp/doctor-page-avatar@2x.jpg 2x, img/tmp/doctor-page-avatar.jpg 1x")
                    img(src="img/tmp/doctor-page-avatar.jpg" alt="" width="244" height="244")

                .doctor-page__button._hm
                    button.button._yellow(type="button" data-src="#modal-order" data-fancybox) Записаться на прием

            .doctor-page__col._right
                h1.section__title.doctor-page__title.border-bottom Гурин <br>Максим Игоревич

                .doctor-page__button._vm
                    button.button._yellow(type="button" data-src="#modal-order" data-fancybox) Записаться на прием

                .doctor-page__schedule
                    .doctor-page__schedule-title
                        svg(width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#svg-schedule")
                        | График работы
                    .doctor-page__schedule-items
                        .doctor-page__schedule-item
                            .doctor-page__schedule-day Пн
                            .doctor-page__schedule-time 10 - 22
                        .doctor-page__schedule-item
                            .doctor-page__schedule-day Вт
                            .doctor-page__schedule-time 10 - 15:30
                        .doctor-page__schedule-item
                            .doctor-page__schedule-day Ср
                            .doctor-page__schedule-time 10-22
                        .doctor-page__schedule-item
                            .doctor-page__schedule-day Чт
                            .doctor-page__schedule-time 15:30 - 22
                        .doctor-page__schedule-item
                            .doctor-page__schedule-day Пт
                        .doctor-page__schedule-item
                            .doctor-page__schedule-day Сб
                        .doctor-page__schedule-item
                            .doctor-page__schedule-day Вс
                            .doctor-page__schedule-time 10 - 22


section.doctor-page
    .container
        .doctor-page__cols
            .doctor-page__col._left
                .doctor-page__text-block
                    h2 Специализация
                    p хирург-имплантолог челюстно-лицевой хирург-имплантолог, кандидат медицинских наук, врач первой категории

                .doctor-page__text-block
                    h2 Стаж
                    p более 16 лет

                .doctor-page__text-block
                    h2 Специалист в области
                    ul.list
                        li одно- и двухэтапной имплантации зубов; субантральной аугментации;
                        li сложного удаления зубов;
                        li хирургической и консервативной пародонтологии;
                        li черепно-челюстно-лицевой хирургии;
                        li онкостоматологии.

                .doctor-page__community
                    picture.doctor-page__community-picture
                        source(type="image/webp" srcset="img/tmp/community@2x.webp 2x, img/tmp/community.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/community@2x.jpg 2x, img/tmp/community.jpg 1x")
                        img(src="img/tmp/community.jpg" alt="" width="128" height="37")
                    | Доктор является членом международного сообщества стоматологов Open Dental Community

            .doctor-page__col._right
                .doctor-page__text-block
                    h2 О докторе
                    p Будучи одним из опытнейших имплантологов Москвы, Эмир Рамизович Омерелли постоянно посещает стажировки на базе концерна производителя Trate AG, в Цюрихе. Обращаясь по поводу восстановления зубов к специалисту такого уровня, пациент может быть уверен, для решения проблемы будет подобрана оптимальная система имплантации, а сама процедура по уровню медицинского сервиса будет соответствовать высочайшим европейским требованиям. Эмир Рамизович имеет большой опыт работы с различными имплантологическими системами (Replace, Defcon, Astra, DenTi, ROOTT и др.).

                .doctor-page__text-block
                    h2 Образование
                    ul.list
                        li Выпускник Тверской Государственной Медицинской Академии.
                        li Интернатура на кафедре общей хирургии; ординатура на кафедре хирургической стоматологии и реконструктивной челюстно-лицевой хирургии с курсом онкостоматологии.
                        li Аспирантура в ЦНИИС, кафедра черепно-челюстно-лицевой хирургии.
                        li Специализация: микрохирургия (сертификат).
                        li Диссертация на соискателя ученой степени «Параличи лицевого нерва»

                .doctor-page__text-block
                    h2 Повышение квалификации
                    ul.list
                        li Стажировка на клинической базе Open Dental Community по вопросам имплантации с моментальной нагрузкой с использованием ECRS подхода.
                        li Участник International Dental Show 2013 – конференция на тему ECRS подход в протезировании и имплантации зубов
                        li С марта 2014 года является членом Российской Ассоциации Стоматологической Имплантологии (РАСтИ)