section.section.faq._big-padding
    .container
        h3.section__subtitle._left Ответы на частые вопросы

        .faq__items
            .faq__item
                button.faq__button(type="button") Есть ли у вас филиалы в других городах?
                .faq__text На данный момент у нас только 2 филиала в городе Москва - на м. Бутырская и м. Пролетарская. Если вы из другого города, вы всегда можете бесплатно проконсультироваться онлайн, отправить нам снимки и результаты обследований. Если вас устроит предварительный план лечения и стоимость - мы поможем приехать в Москву на лечение и постараемся провести его в максимально комфортные сроки.
            .faq__item
                button.faq__button(type="button") Есть ли у вас гарантии на лечение?
                .faq__text На данный момент у нас только 2 филиала в городе Москва - на м. Бутырская и м. Пролетарская. Если вы из другого города, вы всегда можете бесплатно проконсультироваться онлайн, отправить нам снимки и результаты обследований. Если вас устроит предварительный план лечения и стоимость - мы поможем приехать в Москву на лечение и постараемся провести его в максимально комфортные сроки.
            .faq__item
                button.faq__button(type="button") Почему лечиться у вас, а не в моем городе?
                .faq__text На данный момент у нас только 2 филиала в городе Москва - на м. Бутырская и м. Пролетарская. Если вы из другого города, вы всегда можете бесплатно проконсультироваться онлайн, отправить нам снимки и результаты обследований. Если вас устроит предварительный план лечения и стоимость - мы поможем приехать в Москву на лечение и постараемся провести его в максимально комфортные сроки.
            .faq__item
                button.faq__button(type="button") Понадобится ли приезжать для осмотров после лечения?
                .faq__text На данный момент у нас только 2 филиала в городе Москва - на м. Бутырская и м. Пролетарская. Если вы из другого города, вы всегда можете бесплатно проконсультироваться онлайн, отправить нам снимки и результаты обследований. Если вас устроит предварительный план лечения и стоимость - мы поможем приехать в Москву на лечение и постараемся провести его в максимально комфортные сроки.
            .faq__item
                button.faq__button(type="button") Что делать, если у меня нет снимков?
                .faq__text На данный момент у нас только 2 филиала в городе Москва - на м. Бутырская и м. Пролетарская. Если вы из другого города, вы всегда можете бесплатно проконсультироваться онлайн, отправить нам снимки и результаты обследований. Если вас устроит предварительный план лечения и стоимость - мы поможем приехать в Москву на лечение и постараемся провести его в максимально комфортные сроки.