footer.footer
    .container
        .footer__top
            .footer__top-col._logo
                a.footer__logo.logo._white(href="index.html")
                    span.logo__icon
                        svg(width="40" height="49" viewBox="0 0 40 49" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                            use(xlink:href="#svg-logo")
                        picture
                            source(type="image/webp" srcset="img/logo@2x.webp 2x, img/logo.webp 2x")
                            source(type="image/png" srcset="img/logo@2x.png 2x, img/logo.png 2x")
                            img.logo__img(src="img/logo.png" alt="" width="12" height="35")

                    svg.logo__text(width="95" height="24" viewBox="0 0 95 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                        use(xlink:href="#svg-logo-text")

            .footer__top-col._address
                .footer__item
                    svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                        use(xlink:href="#svg-address")
                    .footer__item-content г. Москва, <br>м. Бутрыская Огородный пр-д 19к2

            .footer__top-col._phone
                .footer__item
                    svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                        use(xlink:href="#svg-phone")
                    .footer__item-content
                        a.footer__phone(href="tel:+74952555297") +7 (495) 255-52-97
                        .footer__schedule Ежедневно 10:00-21:00

            .footer__top-col._socials
                .footer__socials
                    a(href="https://api.whatsapp.com/send?phone=" target="_blank" rel="nofollow")
                        svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#svg-whatsapp")

                    a(href="tg://resolve?domain=" target="_blank" rel="nofollow")
                        svg(width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#svg-telegram-footer")

                    a(href="https://youtube.com/" target="_blank" rel="nofollow")
                        svg(width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#svg-youtube")

                    a(href="https://vk.com/" target="_blank" rel="nofollow")
                        svg(width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#svg-vk")

        .footer__middle
            .footer__middle-col
                .footer__title
                    a.footer__title-link(href="service.html") имплантация зубов
                    span

                ul.footer__list
                    li
                        a(href="service.html") Технология ReSmile
                    li
                        a(href="service.html") Классическая двухэтапная имплантация
                    li
                        a(href="service.html") Имплантация All on 4
                    li
                        a(href="service.html") Имплантация  All on 6
                    li
                        a(href="service.html") Имплантация за 1 день
                    li
                        a(href="service.html") Имплантация Мульти-юнит
                    li
                        a(href="service.html") Имплантация на мини имплантах
                    li
                        a(href="service.html") Комплексная имплантация
                    li
                        a(href="service.html") Удаление импланта
                    li
                        a(href="service.html") Птеригоидные имланты

            .footer__middle-col
                .footer__title
                    a.footer__title-link(href="service.html") протезирование
                    span

                ul.footer__list
                    li
                        a(href="service.html") Коронки на зубы
                    li
                        a(href="service.html") Замена коронки
                    li
                        a(href="service.html") Мостовидные протезы
                    li
                        a(href="service.html") Виниры
                    li
                        a(href="service.html") Люминиры
                    li
                        a(href="service.html") Бюгельные протезы
                    li
                        a(href="service.html") Съемные зубные протезы
                    li
                        a(href="service.html") Проетз-бабочка
                    li
                        a(href="service.html") Нейлоновые протезы
                    li
                        a(href="service.html") Акриловые протезы
                    li
                        a(href="service.html") Пластичные протезы

            .footer__middle-col
                .footer__title
                    a.footer__title-link(href="service.html") ортодонтия
                    span

                ul.footer__list
                    li
                        a(href="service.html") Брекет-системы
                    li
                        a(href="service.html") Капы
                    li
                        a(href="service.html") Элацнеры
                    li
                        a(href="service.html") Ортодонтические импланты

            .footer__middle-col
                .footer__title
                    a.footer__title-link(href="service.html") хирургия
                    span

                ul.footer__list
                    li
                        a(href="service.html") Удаление зубов
                    li
                        a(href="service.html") Пластика десны
                    li
                        a(href="service.html") Резекция верхушки корня
                    li
                        a(href="service.html") Гранулема
                    li
                        a(href="service.html") Киста зуба
                    li
                        a(href="service.html") Флюс
                    li
                        a(href="service.html") Экзостоз челюсти
                    li
                        a(href="service.html") Пластика уздечки губы
                    li
                        a(href="service.html") Пластика цздечки языка

            .footer__middle-col
                .footer__title
                    a.footer__title-link(href="service.html") терапия
                    span

                ul.footer__list
                    li
                        a(href="service.html") Кариес
                    li
                        a(href="service.html") Перидонтит
                    li
                        a(href="service.html") Пульпит
                    li
                        a(href="service.html") Удаление нерва
                    li
                        a(href="service.html") Клиновидный дефект
                    li
                        a(href="service.html") Лазером
                    li
                        a(href="service.html") Под микроскопом
                    li
                        a(href="service.html") Гигиена
                    li
                        a(href="service.html") Отбеливание зубов

            .footer__middle-col
                .footer__title
                    a.footer__title-link(href="service.html") диагностика
                    span

                ul.footer__list
                    li
                        a(href="service.html") Снимки для имплантации
                    li
                        a(href="service.html") Панорамный снимок (ОПТГ)
                    li
                        a(href="service.html") Цифровой дизайн улыбки
                    li
                        a(href="service.html") 3D томография зубов
                    li
                        a(href="service.html") Прицельный снимок
                    li
                        a(href="service.html") Рентген зубов

        .footer__bottom
            .footer__bottom-col._socials
                .footer__socials
                    a(href="https://api.whatsapp.com/send?phone=" target="_blank" rel="nofollow")
                        svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#svg-whatsapp")

                    a(href="tg://resolve?domain=" target="_blank" rel="nofollow")
                        svg(width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#svg-telegram-footer")

                    a(href="https://youtube.com/" target="_blank" rel="nofollow")
                        svg(width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#svg-youtube")

                    a(href="https://vk.com/" target="_blank" rel="nofollow")
                        svg(width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(xlink:href="#svg-vk")

            .footer__bottom-col
                a.footer__development(href="#" target="_blank" rel="nofollow")
                    svg(width="121" height="19" viewBox="0 0 121 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                        use(xlink:href="#svg-green-promo")
                    | разработка сайта и реклама




