section.section.gallery._beige-light
    .container
        h3.section__title Галерея ReSmile

        .gallery__carousel
            .gallery__slide
                a(href="img/tmp/gallery@2x.jpg" data-fancybox="gallery")
                    picture
                        source(type="image/webp" srcset="img/tmp/gallery@2x.webp 2x, img/tmp/gallery.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/gallery@2x.jpg 2x, img/tmp/gallery.jpg 1x")
                        img.gallery__img(src="img/tmp/gallery.jpg" alt="" width="827" height="552")

            .gallery__slide
                a(href="img/tmp/gallery@2x.jpg" data-fancybox="gallery")
                    picture
                        source(type="image/webp" srcset="img/tmp/gallery@2x.webp 2x, img/tmp/gallery.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/gallery@2x.jpg 2x, img/tmp/gallery.jpg 1x")
                        img.gallery__img(src="img/tmp/gallery.jpg" alt="" width="827" height="552")

            .gallery__slide
                a(href="img/tmp/gallery@2x.jpg" data-fancybox="gallery")
                    picture
                        source(type="image/webp" srcset="img/tmp/gallery@2x.webp 2x, img/tmp/gallery.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/gallery@2x.jpg 2x, img/tmp/gallery.jpg 1x")
                        img.gallery__img(src="img/tmp/gallery.jpg" alt="" width="827" height="552")

            .gallery__slide
                a(href="img/tmp/gallery@2x.jpg" data-fancybox="gallery")
                    picture
                        source(type="image/webp" srcset="img/tmp/gallery@2x.webp 2x, img/tmp/gallery.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/gallery@2x.jpg 2x, img/tmp/gallery.jpg 1x")
                        img.gallery__img(src="img/tmp/gallery.jpg" alt="" width="827" height="552")

            .gallery__slide
                a(href="img/tmp/gallery@2x.jpg" data-fancybox="gallery")
                    picture
                        source(type="image/webp" srcset="img/tmp/gallery@2x.webp 2x, img/tmp/gallery.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/gallery@2x.jpg 2x, img/tmp/gallery.jpg 1x")
                        img.gallery__img(src="img/tmp/gallery.jpg" alt="" width="827" height="552")

        .gallery__dots.dots
            button.dots__item(type="button")
            button.dots__item(type="button")
            button.dots__item(type="button")
            button.dots__item(type="button")
            button.dots__item(type="button")