section.section._pt0
    .container
        h2.section__subtitle Поможем при отсутствии:

        .pluses__cols
            .pluses__col
                .pluses__item
                    picture.pluses__img._bottom._big
                        source(type="image/webp" srcset="img/tmp/help-1@2x.webp 2x, img/tmp/help-1.webp 1x")
                        source(type="image/png" srcset="img/tmp/help-1@2x.png 2x, img/tmp/help-1.png 1x")
                        img(src="img/tmp/help-1.png" alt="" width="125" height="215")

                    .pluses__content
                        .pluses__text 1 зуба

            .pluses__col
                .pluses__item
                    picture.pluses__img._center._big
                        source(type="image/webp" srcset="img/tmp/help-2@2x.webp 2x, img/tmp/help-2.webp 1x")
                        source(type="image/png" srcset="img/tmp/help-2@2x.png 2x, img/tmp/help-2.png 1x")
                        img(src="img/tmp/help-2.png" alt="" width="125" height="215")

                    .pluses__content
                        .pluses__text Нескольких зубов

            .pluses__col
                .pluses__item
                    picture.pluses__img._center._big._margin
                        source(type="image/webp" srcset="img/tmp/help-3@2x.webp 2x, img/tmp/help-3.webp 1x")
                        source(type="image/png" srcset="img/tmp/help-3@2x.png 2x, img/tmp/help-3.png 1x")
                        img(src="img/tmp/help-3.png" alt="" width="125" height="215")

                    .pluses__content
                        .pluses__text Полной адентии