section.intro
    .intro__img(style="background: url('img/tmp/intro-home@2x.jpg') no-repeat center center; background-size: cover;")

    .container
        .intro__wrapper
            h1.intro__title Выгодное предложение по лечению зубов в клинике ReSmile
            .intro__text Передовые технологии хирургического и эндодонтического лечения  уже в нашей клинике
            .intro__controls
                button.button.intro__control._yellow(type="button" data-fancybox data-src="#modal-order") Обратный звонок
                a.button.intro__control._black(href="tg://resolve?domain=" target="_blank" rel="nofollow") Чат
                    svg(width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                        use(xlink:href="#svg-telegram")