section.intro
    .intro__img(style="background: url('img/tmp/intro-price@2x.jpg') no-repeat center center; background-size: cover;")

    .container
        .intro__wrapper
            h1.intro__title Консультация и диагностика - БЕСПЛАТНО
            .intro__text При первом визите в клинику вас ждет полная консультация одного или нескольких профильных специалистов. Сразу проведем все необходимые обследования: рентген, компьютерная томография. Доктор подберет метод лечения, который подходит именно Вашему клиническому случаю. Составим план лечения с указанием точной суммы, оговорим сроки и дату начала лечения, подберем удобный график приемов.
            .intro__controls
                button.button.intro__control._yellow(type="button" data-fancybox data-src="#modal-order") Обратный звонок
                a.button.intro__control._black(href="tg://resolve?domain=" target="_blank" rel="nofollow") Чат
                    svg(width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                        use(xlink:href="#svg-telegram")