section.section.license._big-padding
    .container
        h3.section__title Лицензии и сертификаты клиники

        .license__wrapper
            .license__carousel
                .license__slide
                    a(href="img/tmp/license-1@2x.jpg" data-fancybox="license")
                        picture
                            source(type="image/jpeg" srcset="img/tmp/license-1@2x.jpg 2x, img/tmp/license-1.jpg 1x")
                            img.license__img(src="img/tmp/license-1.jpg" alt="" width="173" height="244")
                .license__slide
                    a(href="img/tmp/license-2@2x.jpg" data-fancybox="license")
                        picture
                            source(type="image/jpeg" srcset="img/tmp/license-2@2x.jpg 2x, img/tmp/license-2.jpg 1x")
                            img.license__img(src="img/tmp/license-2.jpg" alt="" width="173" height="244")
                .license__slide
                    a(href="img/tmp/license-3@2x.jpg" data-fancybox="license")
                        picture
                            source(type="image/jpeg" srcset="img/tmp/license-3@2x.jpg 2x, img/tmp/license-3.jpg 1x")
                            img.license__img(src="img/tmp/license-3.jpg" alt="" width="173" height="244")
                .license__slide
                    a(href="img/tmp/license-4@2x.jpg" data-fancybox="license")
                        picture
                            source(type="image/jpeg" srcset="img/tmp/license-4@2x.jpg 2x, img/tmp/license-4.jpg 1x")
                            img.license__img(src="img/tmp/license-4.jpg" alt="" width="173" height="244")
                .license__slide
                    a(href="img/tmp/license-5@2x.jpg" data-fancybox="license")
                        picture
                            source(type="image/jpeg" srcset="img/tmp/license-5@2x.jpg 2x, img/tmp/license-5.jpg 1x")
                            img.license__img(src="img/tmp/license-5.jpg" alt="" width="173" height="244")