section.section.panorama
    .container
        h3.section__title 3D тур

        picture
            source(type="image/webp" srcset="img/tmp/panorama@2x.webp 2x, img/tmp/panorama.webp 1x")
            source(type="image/jpeg" srcset="img/tmp/panorama@2x.jpg 2x, img/tmp/panorama.jpg 1x")
            img.panorama__img(src="img/tmp/panorama.jpg" alt="" width="1242" height="443")