div.section.pluses._big-padding
    .container
        .pluses__cols
            .pluses__col
                .pluses__item
                    picture.pluses__img._bottom
                        source(type="image/webp" srcset="img/tmp/about-pluses-1@2x.webp 2x, img/tmp/about-pluses-1.webp 1x")
                        source(type="image/png" srcset="img/tmp/about-pluses-1@2x.png 2x, img/tmp/about-pluses-1.png 1x")
                        img(src="img/tmp/about-pluses-1.png" alt="" width="125" height="215")

                    .pluses__content
                        .pluses__text <strong>Цифровое моделирование</strong> будущей улыбки

            .pluses__col
                .pluses__item
                    picture.pluses__img._top
                        source(type="image/webp" srcset="img/tmp/about-pluses-2@2x.webp 2x, img/tmp/about-pluses-2.webp 1x")
                        source(type="image/png" srcset="img/tmp/about-pluses-2@2x.png 2x, img/tmp/about-pluses-2.png 1x")
                        img(src="img/tmp/about-pluses-2.png" alt="" width="125" height="215")

                    .pluses__content
                        .pluses__text Новейшее европейское оборудование

            .pluses__col
                .pluses__item
                    picture.pluses__img._center
                        source(type="image/webp" srcset="img/tmp/about-pluses-3@2x.webp 2x, img/tmp/about-pluses-3.webp 1x")
                        source(type="image/png" srcset="img/tmp/about-pluses-3@2x.png 2x, img/tmp/about-pluses-3.png 1x")
                        img(src="img/tmp/about-pluses-3.png" alt="" width="125" height="215")

                    .pluses__content
                        .pluses__text <strong>Собственная лаборатория</strong> полного цикла

            .pluses__col
                .pluses__item
                    picture.pluses__img._bottom
                        source(type="image/webp" srcset="img/tmp/about-pluses-4@2x.webp 2x, img/tmp/about-pluses-4.webp 1x")
                        source(type="image/png" srcset="img/tmp/about-pluses-4@2x.png 2x, img/tmp/about-pluses-4.png 1x")
                        img(src="img/tmp/about-pluses-4.png" alt="" width="125" height="215")

                    .pluses__content
                        .pluses__text <strong>Бесплатная диагностика</strong> перед хирургическим лечением

            .pluses__col
                .pluses__item
                    picture.pluses__img._bottom
                        source(type="image/png" srcset="img/tmp/about-pluses-5@2x.png 2x, img/tmp/about-pluses-5.png 1x")
                        img(src="img/tmp/about-pluses-5.png" alt="" width="125" height="215")

                    .pluses__content
                        .pluses__text <strong>Двухступенчатая</strong> стерилизация инструментов

            .pluses__col
                .pluses__item
                    picture.pluses__img._bottom
                        source(type="image/webp" srcset="img/tmp/about-pluses-6@2x.webp 2x, img/tmp/about-pluses-6.webp 1x")
                        source(type="image/png" srcset="img/tmp/about-pluses-6@2x.png 2x, img/tmp/about-pluses-6.png 1x")
                        img(src="img/tmp/about-pluses-6.png" alt="" width="125" height="215")

                    .pluses__content
                        .pluses__text <strong>Врачи</strong> участники международных конференций