section.section.price-text._big-padding
    .container
        .price-text__cols
            .price-text__col
                h3.price-text__title Цены на услуги стоматологической клиники  ReSmile: лечение, имплантация и протезирование зубов

            .price-text__col
                p На этой странице представлены цены в стоматологии ReSmile. В прейскуранте указана фиксированная стоимость лечения без дополнительных оплат - это политика нашего центра. Имплантация проводится в формате “под ключ”, что позволяет пациенту знать окончательную стоимость и планировать свои финансы. 