.section.price._big-padding._pt0
    .container
        .price__wrapper
            .price__item
                button.price__button
                    span.price__button-text Имплантация
                    span.price__circle

                .price__rows
                    .price__row
                        .price__row-text
                            .price__row-title Применение обогащенной тромбоцитами аутоплазмы (плазмолифтинг)
                            .price__row-controls
                                a.price__row-control(href="#") Подробнее о методе
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 4 000

                    .price__row
                        .price__row-text
                            .price__row-title Удаление классического импланта, установленного в другой клинике
                            .price__row-controls
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 7 000

                    .price__row
                        .price__row-text
                            .price__row-title Синус-лифтинг в зоне одного зуба (без учета стоимости материала)
                            .price__row-controls
                                a.price__row-control(href="#") Подробнее о методе
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 10 000

            .price__item
                button.price__button
                    span.price__button-text Коронки и протезы на импланты
                    span.price__circle

                .price__rows
                    .price__row
                        .price__row-text
                            .price__row-title Применение обогащенной тромбоцитами аутоплазмы (плазмолифтинг)
                            .price__row-controls
                                a.price__row-control(href="#") Подробнее о методе
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 4 000

                    .price__row
                        .price__row-text
                            .price__row-title Удаление классического импланта, установленного в другой клинике
                            .price__row-controls
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 7 000

                    .price__row
                        .price__row-text
                            .price__row-title Синус-лифтинг в зоне одного зуба (без учета стоимости материала)
                            .price__row-controls
                                a.price__row-control(href="#") Подробнее о методе
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 10 000

            .price__item
                button.price__button
                    span.price__button-text Коронки и вкладки
                    span.price__circle

                .price__rows
                    .price__row
                        .price__row-text
                            .price__row-title Применение обогащенной тромбоцитами аутоплазмы (плазмолифтинг)
                            .price__row-controls
                                a.price__row-control(href="#") Подробнее о методе
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 4 000

                    .price__row
                        .price__row-text
                            .price__row-title Удаление классического импланта, установленного в другой клинике
                            .price__row-controls
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 7 000

                    .price__row
                        .price__row-text
                            .price__row-title Синус-лифтинг в зоне одного зуба (без учета стоимости материала)
                            .price__row-controls
                                a.price__row-control(href="#") Подробнее о методе
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 10 000

            .price__item
                button.price__button
                    span.price__button-text Съемное и условно-съемное протезирование
                    span.price__circle

                .price__rows
                    .price__row
                        .price__row-text
                            .price__row-title Применение обогащенной тромбоцитами аутоплазмы (плазмолифтинг)
                            .price__row-controls
                                a.price__row-control(href="#") Подробнее о методе
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 4 000

                    .price__row
                        .price__row-text
                            .price__row-title Удаление классического импланта, установленного в другой клинике
                            .price__row-controls
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 7 000

                    .price__row
                        .price__row-text
                            .price__row-title Синус-лифтинг в зоне одного зуба (без учета стоимости материала)
                            .price__row-controls
                                a.price__row-control(href="#") Подробнее о методе
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 10 000

            .price__item
                button.price__button
                    span.price__button-text Виниры и восстановительные вкладки
                    span.price__circle

                .price__rows
                    .price__row
                        .price__row-text
                            .price__row-title Применение обогащенной тромбоцитами аутоплазмы (плазмолифтинг)
                            .price__row-controls
                                a.price__row-control(href="#") Подробнее о методе
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 4 000

                    .price__row
                        .price__row-text
                            .price__row-title Удаление классического импланта, установленного в другой клинике
                            .price__row-controls
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 7 000

                    .price__row
                        .price__row-text
                            .price__row-title Синус-лифтинг в зоне одного зуба (без учета стоимости материала)
                            .price__row-controls
                                a.price__row-control(href="#") Подробнее о методе
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 10 000

            .price__item
                button.price__button
                    span.price__button-text Хирургическая стоматология и парадонтология
                    span.price__circle

                .price__rows
                    .price__row
                        .price__row-text
                            .price__row-title Применение обогащенной тромбоцитами аутоплазмы (плазмолифтинг)
                            .price__row-controls
                                a.price__row-control(href="#") Подробнее о методе
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 4 000

                    .price__row
                        .price__row-text
                            .price__row-title Удаление классического импланта, установленного в другой клинике
                            .price__row-controls
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 7 000

                    .price__row
                        .price__row-text
                            .price__row-title Синус-лифтинг в зоне одного зуба (без учета стоимости материала)
                            .price__row-controls
                                a.price__row-control(href="#") Подробнее о методе
                                a.price__row-control(href="#") Что входит в стоимость?
                        .price__row-price 10 000
