section.section.page-top._beige
    .container
        .page-top__wrapper
            h1.page-top__title Примеры работ специалистов ReSmile
            .page-top__text Оценивая врача-стоматолога, важно обратить внимание не только на его образование, повышение квалификации и профессиональный опыт, но и на реальные примеры работ из практики. На этой странице собраны клинические случаи пациентов и их решения специалистами ROOTT. Вы увидите фотографии до и после имплантации, протезирования, терапии и других услуг.