section.section.projects
    .container
        h2.section__subtitle Фото работ

        .doctors__selects
            .doctors__select
                .doctors__select-title Выберите раздел
                .doctors__choose
                    button.doctors__choose-current(type="button") Все

                    .doctors__radios
                        .doctors__radio
                            input(type="radio" name="special" id="special-1" value="Все" checked)
                            label(for="special-1") Все

                        .doctors__radio
                            input(type="radio" name="special" id="special-2" value="Имплантация")
                            label(for="special-2") Имплантация

                        .doctors__radio
                            input(type="radio" name="special" id="special-3" value="Протезирование")
                            label(for="special-3") Протезирование

                        .doctors__radio
                            input(type="radio" name="special" id="special-4" value="Хирургия")
                            label(for="special-4") Хирургия

                        .doctors__radio
                            input(type="radio" name="special" id="special-5" value="Ортодонтия")
                            label(for="special-5") Ортодонтия

                        .doctors__radio
                            input(type="radio" name="special" id="special-6" value="Диагностика")
                            label(for="special-6") Диагностика

                        .doctors__radio
                            input(type="radio" name="special" id="special-7" value="Терапия")
                            label(for="special-7") Терапия

            .doctors__select
                .doctors__select-title Выберите врача
                .doctors__choose
                    button.doctors__choose-current(type="button") Все

                    .doctors__radios
                        .doctors__radio
                            input(type="radio" name="doctor" id="doctor-1" value="Все" checked)
                            label(for="doctor-1") Все

                        .doctors__radio
                            input(type="radio" name="doctor" id="doctor-2" value="Вознюк В.А.")
                            label(for="doctor-2") Вознюк В.А.

                        .doctors__radio
                            input(type="radio" name="doctor" id="doctor-3" value="Малиновский Ю.В")
                            label(for="doctor-3") Малиновский Ю.В

                        .doctors__radio
                            input(type="radio" name="doctor" id="doctor-4" value="Вознюк В.А.")
                            label(for="doctor-4") Вознюк В.А.

                        .doctors__radio
                            input(type="radio" name="doctor" id="doctor-5" value="Вознюк В.А.")
                            label(for="doctor-5") Вознюк В.А.

                        .doctors__radio
                            input(type="radio" name="doctor" id="doctor-6" value="Вознюк В.А.")
                            label(for="doctor-6") Вознюк В.А.

                        .doctors__radio
                            input(type="radio" name="doctor" id="doctor-7" value="Вознюк В.А.")
                            label(for="doctor-7") Вознюк В.А.

        .projects__cols
            .projects__col
                .projects__item
                    .shtorka
                        picture.shtorka__img._before
                            source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                            img(src="img/tmp/work-thumb-before.jpg" alt="" width="275" height="186")

                        picture.shtorka__img._after
                            source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                            img(src="img/tmp/work-thumb.jpg" alt="" width="275" height="186")

                    a.projects__link(href="project.html") Имплантация обеих челюстей имплантами ROOTT при пародонтозе II степени

            .projects__col
                .projects__item
                    .shtorka
                        picture.shtorka__img._before
                            source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                            img(src="img/tmp/work-thumb-before.jpg" alt="" width="275" height="186")

                        picture.shtorka__img._after
                            source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                            img(src="img/tmp/work-thumb.jpg" alt="" width="275" height="186")

                    a.projects__link(href="project.html") Комплексная имплантация двух челюстей

            .projects__col
                .projects__item
                    .shtorka
                        picture.shtorka__img._before
                            source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                            img(src="img/tmp/work-thumb-before.jpg" alt="" width="275" height="186")

                        picture.shtorka__img._after
                            source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                            img(src="img/tmp/work-thumb.jpg" alt="" width="275" height="186")

                    a.projects__link(href="project.html") Имплантация обеих челюстей имплантами ROOTT при пародонтозе II степени

            .projects__col
                .projects__item
                    .shtorka
                        picture.shtorka__img._before
                            source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                            img(src="img/tmp/work-thumb-before.jpg" alt="" width="275" height="186")

                        picture.shtorka__img._after
                            source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                            img(src="img/tmp/work-thumb.jpg" alt="" width="275" height="186")

                    a.projects__link(href="project.html") Комплексная имплантация двух челюстей

            .projects__col
                .projects__item
                    .shtorka
                        picture.shtorka__img._before
                            source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                            img(src="img/tmp/work-thumb-before.jpg" alt="" width="275" height="186")

                        picture.shtorka__img._after
                            source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                            img(src="img/tmp/work-thumb.jpg" alt="" width="275" height="186")

                    a.projects__link(href="project.html") Имплантация обеих челюстей имплантами ROOTT при пародонтозе II степени

            .projects__col
                .projects__item
                    .shtorka
                        picture.shtorka__img._before
                            source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                            img(src="img/tmp/work-thumb-before.jpg" alt="" width="275" height="186")

                        picture.shtorka__img._after
                            source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                            img(src="img/tmp/work-thumb.jpg" alt="" width="275" height="186")

                    a.projects__link(href="project.html") Комплексная имплантация двух челюстей

            .projects__col
                .projects__item
                    .shtorka
                        picture.shtorka__img._before
                            source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                            img(src="img/tmp/work-thumb-before.jpg" alt="" width="275" height="186")

                        picture.shtorka__img._after
                            source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                            img(src="img/tmp/work-thumb.jpg" alt="" width="275" height="186")

                    a.projects__link(href="project.html") Имплантация обеих челюстей имплантами ROOTT при пародонтозе II степени

            .projects__col
                .projects__item
                    .shtorka
                        picture.shtorka__img._before
                            source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                            img(src="img/tmp/work-thumb-before.jpg" alt="" width="275" height="186")

                        picture.shtorka__img._after
                            source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                            img(src="img/tmp/work-thumb.jpg" alt="" width="275" height="186")

                    a.projects__link(href="project.html") Комплексная имплантация двух челюстей

            .projects__col
                .projects__item
                    .shtorka
                        picture.shtorka__img._before
                            source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                            img(src="img/tmp/work-thumb-before.jpg" alt="" width="275" height="186")

                        picture.shtorka__img._after
                            source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                            img(src="img/tmp/work-thumb.jpg" alt="" width="275" height="186")

                    a.projects__link(href="project.html") Имплантация обеих челюстей имплантами ROOTT при пародонтозе II степени

            .projects__col
                .projects__item
                    .shtorka
                        picture.shtorka__img._before
                            source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                            img(src="img/tmp/work-thumb-before.jpg" alt="" width="275" height="186")

                        picture.shtorka__img._after
                            source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                            img(src="img/tmp/work-thumb.jpg" alt="" width="275" height="186")

                    a.projects__link(href="project.html") Комплексная имплантация двух челюстей

            .projects__col
                .projects__item
                    .shtorka
                        picture.shtorka__img._before
                            source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                            img(src="img/tmp/work-thumb-before.jpg" alt="" width="275" height="186")

                        picture.shtorka__img._after
                            source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                            img(src="img/tmp/work-thumb.jpg" alt="" width="275" height="186")

                    a.projects__link(href="project.html") Имплантация обеих челюстей имплантами ROOTT при пародонтозе II степени

            .projects__col
                .projects__item
                    .shtorka
                        picture.shtorka__img._before
                            source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                            img(src="img/tmp/work-thumb-before.jpg" alt="" width="275" height="186")

                        picture.shtorka__img._after
                            source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                            source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                            img(src="img/tmp/work-thumb.jpg" alt="" width="275" height="186")

                    a.projects__link(href="project.html") Комплексная имплантация двух челюстей


        .section__more
            button.button._yellow(type="button") Смотреть еще



