section.section.requisites._pt0
    .container
        h3.section__title Реквизиты

        .requisites__cols
            .requisites__col
                .requisites__item Общество с ограниченной ответственностью <br>"Стоматология РиСмайл"
                .requisites__item ИНН: 9715404657
                .requisites__item ОГРН: 1217700369512
                .requisites__item Адрес: 127254, г. Москва, Огородный проезд, 19 корп. 2
            .requisites__col
                .requisites__item Руководство осуществляет генеральный директор <br>Корытько Е.А.