script(src="js/libs/jquery-3.6.0.min.js")
script(src="js/libs/jquery.twentytwenty.js")
script(src="js/libs/jquery.event.move.js")
script(src="js/libs/fancybox.umd.js")
script(src="js/libs/tiny-slider.js")
script(src="js/scripts.min.js")