.section.service-pluses._pb0
    .container
        .service-pluses__cols
            .service-pluses__col
                .service-pluses__item
                    picture.service-pluses__img
                        source(type="image/webp" srcset="img/tmp/service-pluses-1@2x.webp 2x, img/tmp/service-pluses-1.webp 1x")
                        source(type="image/png" srcset="img/tmp/service-pluses-1@2x.png 2x, img/tmp/service-pluses-1.png 1x")
                        img(src="img/tmp/service-pluses-1.png" alt="" width="100" height="124")
                    .service-pluses__text Используем технологии из Швейцарии

            .service-pluses__col
                .service-pluses__item
                    picture.service-pluses__img
                        source(type="image/webp" srcset="img/tmp/service-pluses-2@2x.webp 2x, img/tmp/service-pluses-2.webp 1x")
                        source(type="image/png" srcset="img/tmp/service-pluses-2@2x.png 2x, img/tmp/service-pluses-2.png 1x")
                        img(src="img/tmp/service-pluses-2.png" alt="" width="100" height="124")
                    .service-pluses__text Cобственной линейки имплантатов

            .service-pluses__col
                .service-pluses__item
                    picture.service-pluses__img
                        source(type="image/webp" srcset="img/tmp/service-pluses-3@2x.webp 2x, img/tmp/service-pluses-3.webp 1x")
                        source(type="image/png" srcset="img/tmp/service-pluses-3@2x.png 2x, img/tmp/service-pluses-3.png 1x")
                        img(src="img/tmp/service-pluses-3.png" alt="" width="100" height="124")
                    .service-pluses__text импланты из прочнейшего медицинского титана

            .service-pluses__col
                .service-pluses__item
                    picture.service-pluses__img._full
                        source(type="image/webp" srcset="img/tmp/service-pluses-4@2x.webp 2x, img/tmp/service-pluses-4.webp 1x")
                        source(type="image/png" srcset="img/tmp/service-pluses-4@2x.png 2x, img/tmp/service-pluses-4.png 1x")
                        img(src="img/tmp/service-pluses-4.png" alt="" width="100" height="124")
                    .service-pluses__text Бесплатная консультация

            .service-pluses__col._big
                .service-pluses__item._big
                    picture.service-pluses__img
                        source(type="image/webp" srcset="img/tmp/service-pluses-5@2x.webp 2x, img/tmp/service-pluses-5.webp 1x")
                        source(type="image/png" srcset="img/tmp/service-pluses-5@2x.png 2x, img/tmp/service-pluses-5.png 1x")
                        img(src="img/tmp/service-pluses-5.png" alt="" width="100" height="124")
                    .service-pluses__text Методика «ReSmile®» - комплексное решение по восстановлению жевательной функции при полном отсутствии зубов (адентии).