section.section.page-top._beige
    .container
        .page-top__wrapper
            h2.page-top__title Имплантация зубов
            .page-top__text метод восстановления утраченных зубных единиц с помощью вживляемых титановых корней в челюсть с покрытием их специальными протезами