section.section.tabs._pt0
    .container
        h2.section__subtitle Описание лечения

        .tabs__links
            button.tabs__link._active(type="button" data-item="1") Виды имплантации
            button.tabs__link(type="button" data-item="2") Типы имплантов
            button.tabs__link(type="button" data-item="3") Этапы лечения
            button.tabs__link(type="button" data-item="4") Показания/противопоказния

    .tabs__content.section.text-cols._beige._big-padding._active(data-item="1")
        .container.text-cols__cols
            .text-cols__col._small
                h2.text-cols__title Виды имплантации

            .text-cols__col.text-cols__text._big
                p Коллектив зубных врачей центра дентальной имплантологии ROOTT - это большая сплоченная команда профессионалов высшей категории: ортопедов, терапевтов, имплантологов и хирургов. Лучшие врачи-стоматологи Москвы собрались в нашем медицинском центре, чтобы помочь пациентам обрести новую улыбку даже в самых сложных клинических случаях, при сопутствующих заболеваниях, патологиях прикуса и недостаточности костной ткани
                p Каждый день мы проводим сложные операции по комплексной имплантации взрослому населению. Высокий профессионализм наших докторов стоматологов отражают многочисленные награды, сертификаты и участие в российских и международных конференциях в качестве экспертов. Консультация стоматолога в клинике ROOTT - это не просто осмотр, а полноценная диагностика полости рта и экспертный диалог с доктором - о всем, что вас беспокоит. Представьте, как приятно выйти из кабинета зубного врача, зная, что проблему в короткие сроки можно исправить.

    .tabs__content.section.text-cols._beige._big-padding(data-item="2")
        .container.text-cols__cols
            .text-cols__col._small
                h2.text-cols__title Типы имплантов

            .text-cols__col.text-cols__text._big
                p Коллектив зубных врачей центра дентальной имплантологии ROOTT - это большая сплоченная команда профессионалов высшей категории: ортопедов, терапевтов, имплантологов и хирургов. Лучшие врачи-стоматологи Москвы собрались в нашем медицинском центре, чтобы помочь пациентам обрести новую улыбку даже в самых сложных клинических случаях, при сопутствующих заболеваниях, патологиях прикуса и недостаточности костной ткани
                p Каждый день мы проводим сложные операции по комплексной имплантации взрослому населению. Высокий профессионализм наших докторов стоматологов отражают многочисленные награды, сертификаты и участие в российских и международных конференциях в качестве экспертов. Консультация стоматолога в клинике ROOTT - это не просто осмотр, а полноценная диагностика полости рта и экспертный диалог с доктором - о всем, что вас беспокоит. Представьте, как приятно выйти из кабинета зубного врача, зная, что проблему в короткие сроки можно исправить.

    .tabs__content.section.text-cols._beige._big-padding(data-item="3")
        .container.text-cols__cols
            .text-cols__col._small
                h2.text-cols__title Этапы лечения

            .text-cols__col.text-cols__text._big
                p Коллектив зубных врачей центра дентальной имплантологии ROOTT - это большая сплоченная команда профессионалов высшей категории: ортопедов, терапевтов, имплантологов и хирургов. Лучшие врачи-стоматологи Москвы собрались в нашем медицинском центре, чтобы помочь пациентам обрести новую улыбку даже в самых сложных клинических случаях, при сопутствующих заболеваниях, патологиях прикуса и недостаточности костной ткани
                p Каждый день мы проводим сложные операции по комплексной имплантации взрослому населению. Высокий профессионализм наших докторов стоматологов отражают многочисленные награды, сертификаты и участие в российских и международных конференциях в качестве экспертов. Консультация стоматолога в клинике ROOTT - это не просто осмотр, а полноценная диагностика полости рта и экспертный диалог с доктором - о всем, что вас беспокоит. Представьте, как приятно выйти из кабинета зубного врача, зная, что проблему в короткие сроки можно исправить.

    .tabs__content.section.text-cols._beige._big-padding(data-item="4")
        .container.text-cols__cols
            .text-cols__col._small
                h2.text-cols__title Показания/противопоказния

            .text-cols__col.text-cols__text._big
                p Коллектив зубных врачей центра дентальной имплантологии ROOTT - это большая сплоченная команда профессионалов высшей категории: ортопедов, терапевтов, имплантологов и хирургов. Лучшие врачи-стоматологи Москвы собрались в нашем медицинском центре, чтобы помочь пациентам обрести новую улыбку даже в самых сложных клинических случаях, при сопутствующих заболеваниях, патологиях прикуса и недостаточности костной ткани
                p Каждый день мы проводим сложные операции по комплексной имплантации взрослому населению. Высокий профессионализм наших докторов стоматологов отражают многочисленные награды, сертификаты и участие в российских и международных конференциях в качестве экспертов. Консультация стоматолога в клинике ROOTT - это не просто осмотр, а полноценная диагностика полости рта и экспертный диалог с доктором - о всем, что вас беспокоит. Представьте, как приятно выйти из кабинета зубного врача, зная, что проблему в короткие сроки можно исправить.
