section.section.text-cols._beige._big-padding
    .container.text-cols__cols
        .text-cols__col._small
            h3.text-cols__title.quotes
                svg(width="35" height="23" viewBox="0 0 35 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                    use(xlink:href="#svg-quotes")
                | SEO Улыбка — это не только красота, но и счастье здорового образа жизни
        .text-cols__col.text-cols__text._big
            p Наши специалисты помогают даже тем, кому отказали в имплантации и протезировании ввиду недостаточности костной ткани, из-за сахарного диабета, иммунных и других заболеваний. Это стало возможным благодаря системе имплантации ROOTT швейцарского производства, и апатентованной технологии “ReSmile®”, которая позволяет быстро восстановить жевательную функцию при полной адентии.
            p В собственной лаборатории московского центра дентальной имплантологии ROOTT оперативно изготавливаются протезы и коронки, обеспечивая эффективное взаимодействие лечащего стоматолога и зубного техника. Мы применяем инновационные технологии лечения, цифровое 3D-моделирование и метод золотого сечения для создания идеальной улыбки.
            p Если вы ищете проверенную частную стоматологию для взрослых, обратите внимание на МЦДИ ROOTT. В 2019 году клиника ROOTT внесена в Книгу Рекордов России за достижения в области стоматологии, также мы имеем множество других достижений и наград, а рейтинги и отзывы пациентов находятся в открытом доступе в сети

            .text-cols__hidden
                p Наши специалисты помогают даже тем, кому отказали в имплантации и протезировании ввиду недостаточности костной ткани, из-за сахарного диабета, иммунных и других заболеваний. Это стало возможным благодаря системе имплантации ROOTT швейцарского производства, и апатентованной технологии “ReSmile®”, которая позволяет быстро восстановить жевательную функцию при полной адентии.
                p В собственной лаборатории московского центра дентальной имплантологии ROOTT оперативно изготавливаются протезы и коронки, обеспечивая эффективное взаимодействие лечащего стоматолога и зубного техника. Мы применяем инновационные технологии лечения, цифровое 3D-моделирование и метод золотого сечения для создания идеальной улыбки.
                p Если вы ищете проверенную частную стоматологию для взрослых, обратите внимание на МЦДИ ROOTT. В 2019 году клиника ROOTT внесена в Книгу Рекордов России за достижения в области стоматологии, также мы имеем множество других достижений и наград, а рейтинги и отзывы пациентов находятся в открытом доступе в сети

            button.text-cols__button(type="button" data-more="читать далее" data-less="скрыть") читать далее

