section.section.works-carousel
    .container
        h3.section__title Наши работы

        .works-carousel__init
            .work-carousel__slide
                .work
                    .work__col
                        .shtorka
                            picture.shtorka__img._before
                                source(type="image/webp" srcset="img/tmp/work-before@2x.webp 2x, img/tmp/work-before.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/work-before@2x.jpg 2x, img/tmp/work-before.jpg 1x")
                                img(src="img/tmp/work-before.jpg" alt="" width="634" height="366")

                            picture.shtorka__img._after
                                source(type="image/webp" srcset="img/tmp/work@2x.webp 2x, img/tmp/work.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/work@2x.jpg 2x, img/tmp/work.jpg 1x")
                                img(src="img/tmp/work.jpg" alt="" width="634" height="366")

                    .work__col.work__content
                        a.work__title.border-bottom(href="project.html") Комплексная имплантация ROOTT на винтовой фиксации
                        .work__text Пациент обратился в клинику с очень плохим состоянием зубов. Нашими специалистами была рекомендована комплексная имплантация ROOTT на винтовой фиксации. Лечение прошло успешно - результат вы можете видеть на фотографии "после" - зубы ровные и белые, челюсть полностью функционирует, нет проблем с дикцией
                        a.work__doctor(href="doctor.html")
                            picture
                                source(type="image/webp" srcset="img/tmp/doctor-small@2x.webp 2x, img/tmp/doctor-small.webp 1x")
                                source(type="image/png" srcset="img/tmp/doctor-small@2x.png 2x, img/tmp/doctor-small.png 1x")
                                img.work__doctor-img(src="img/tmp/doctor-small.png" alt="" width="40" height="40")

                            .work__doctor-content
                                .work__doctor-position доктор
                                .work__doctor-title Вознюк В.A

            .work-carousel__slide
                .work
                    .work__col
                        .shtorka
                            picture.shtorka__img._before
                                source(type="image/webp" srcset="img/tmp/work-before@2x.webp 2x, img/tmp/work-before.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/work-before@2x.jpg 2x, img/tmp/work-before.jpg 1x")
                                img(src="img/tmp/work-before.jpg" alt="" width="634" height="366")

                            picture.shtorka__img._after
                                source(type="image/webp" srcset="img/tmp/work@2x.webp 2x, img/tmp/work.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/work@2x.jpg 2x, img/tmp/work.jpg 1x")
                                img(src="img/tmp/work.jpg" alt="" width="634" height="366")

                    .work__col.work__content
                        a.work__title.border-bottom(href="project.html") Комплексная имплантация ROOTT на винтовой фиксации
                        .work__text Пациент обратился в клинику с очень плохим состоянием зубов. Нашими специалистами была рекомендована комплексная имплантация ROOTT на винтовой фиксации. Лечение прошло успешно - результат вы можете видеть на фотографии "после" - зубы ровные и белые, челюсть полностью функционирует, нет проблем с дикцией
                        a.work__doctor(href="doctor.html")
                            picture
                                source(type="image/webp" srcset="img/tmp/doctor-small@2x.webp 2x, img/tmp/doctor-small.webp 1x")
                                source(type="image/png" srcset="img/tmp/doctor-small@2x.png 2x, img/tmp/doctor-small.png 1x")
                                img.work__doctor-img(src="img/tmp/doctor-small.png" alt="" width="40" height="40")

                            .work__doctor-content
                                .work__doctor-position доктор
                                .work__doctor-title Вознюк В.A
            .work-carousel__slide
                .work
                    .work__col
                        .shtorka
                            picture.shtorka__img._before
                                source(type="image/webp" srcset="img/tmp/work-before@2x.webp 2x, img/tmp/work-before.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/work-before@2x.jpg 2x, img/tmp/work-before.jpg 1x")
                                img(src="img/tmp/work-before.jpg" alt="" width="634" height="366")

                            picture.shtorka__img._after
                                source(type="image/webp" srcset="img/tmp/work@2x.webp 2x, img/tmp/work.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/work@2x.jpg 2x, img/tmp/work.jpg 1x")
                                img(src="img/tmp/work.jpg" alt="" width="634" height="366")

                    .work__col.work__content
                        a.work__title.border-bottom(href="project.html") Комплексная имплантация ROOTT на винтовой фиксации
                        .work__text Пациент обратился в клинику с очень плохим состоянием зубов. Нашими специалистами была рекомендована комплексная имплантация ROOTT на винтовой фиксации. Лечение прошло успешно - результат вы можете видеть на фотографии "после" - зубы ровные и белые, челюсть полностью функционирует, нет проблем с дикцией
                        a.work__doctor(href="doctor.html")
                            picture
                                source(type="image/webp" srcset="img/tmp/doctor-small@2x.webp 2x, img/tmp/doctor-small.webp 1x")
                                source(type="image/png" srcset="img/tmp/doctor-small@2x.png 2x, img/tmp/doctor-small.png 1x")
                                img.work__doctor-img(src="img/tmp/doctor-small.png" alt="" width="40" height="40")

                            .work__doctor-content
                                .work__doctor-position доктор
                                .work__doctor-title Вознюк В.A
            .work-carousel__slide
                .work
                    .work__col
                        .shtorka
                            picture.shtorka__img._before
                                source(type="image/webp" srcset="img/tmp/work-before@2x.webp 2x, img/tmp/work-before.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/work-before@2x.jpg 2x, img/tmp/work-before.jpg 1x")
                                img(src="img/tmp/work-before.jpg" alt="" width="634" height="366")

                            picture.shtorka__img._after
                                source(type="image/webp" srcset="img/tmp/work@2x.webp 2x, img/tmp/work.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/work@2x.jpg 2x, img/tmp/work.jpg 1x")
                                img(src="img/tmp/work.jpg" alt="" width="634" height="366")

                    .work__col.work__content
                        a.work__title.border-bottom(href="project.html") Комплексная имплантация ROOTT на винтовой фиксации
                        .work__text Пациент обратился в клинику с очень плохим состоянием зубов. Нашими специалистами была рекомендована комплексная имплантация ROOTT на винтовой фиксации. Лечение прошло успешно - результат вы можете видеть на фотографии "после" - зубы ровные и белые, челюсть полностью функционирует, нет проблем с дикцией
                        a.work__doctor(href="doctor.html")
                            picture
                                source(type="image/webp" srcset="img/tmp/doctor-small@2x.webp 2x, img/tmp/doctor-small.webp 1x")
                                source(type="image/png" srcset="img/tmp/doctor-small@2x.png 2x, img/tmp/doctor-small.png 1x")
                                img.work__doctor-img(src="img/tmp/doctor-small.png" alt="" width="40" height="40")

                            .work__doctor-content
                                .work__doctor-position доктор
                                .work__doctor-title Вознюк В.A
            .work-carousel__slide
                .work
                    .work__col
                        .shtorka
                            picture.shtorka__img._before
                                source(type="image/webp" srcset="img/tmp/work-before@2x.webp 2x, img/tmp/work-before.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/work-before@2x.jpg 2x, img/tmp/work-before.jpg 1x")
                                img(src="img/tmp/work-before.jpg" alt="" width="634" height="366")

                            picture.shtorka__img._after
                                source(type="image/webp" srcset="img/tmp/work@2x.webp 2x, img/tmp/work.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/work@2x.jpg 2x, img/tmp/work.jpg 1x")
                                img(src="img/tmp/work.jpg" alt="" width="634" height="366")

                    .work__col.work__content
                        a.work__title.border-bottom(href="project.html") Комплексная имплантация ROOTT на винтовой фиксации
                        .work__text Пациент обратился в клинику с очень плохим состоянием зубов. Нашими специалистами была рекомендована комплексная имплантация ROOTT на винтовой фиксации. Лечение прошло успешно - результат вы можете видеть на фотографии "после" - зубы ровные и белые, челюсть полностью функционирует, нет проблем с дикцией
                        a.work__doctor(href="doctor.html")
                            picture
                                source(type="image/webp" srcset="img/tmp/doctor-small@2x.webp 2x, img/tmp/doctor-small.webp 1x")
                                source(type="image/png" srcset="img/tmp/doctor-small@2x.png 2x, img/tmp/doctor-small.png 1x")
                                img.work__doctor-img(src="img/tmp/doctor-small.png" alt="" width="40" height="40")

                            .work__doctor-content
                                .work__doctor-position доктор
                                .work__doctor-title Вознюк В.A
            .work-carousel__slide
                .work
                    .work__col
                        .shtorka
                            picture.shtorka__img._before
                                source(type="image/webp" srcset="img/tmp/work-before@2x.webp 2x, img/tmp/work-before.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/work-before@2x.jpg 2x, img/tmp/work-before.jpg 1x")
                                img(src="img/tmp/work-before.jpg" alt="" width="634" height="366")

                            picture.shtorka__img._after
                                source(type="image/webp" srcset="img/tmp/work@2x.webp 2x, img/tmp/work.webp 1x")
                                source(type="image/jpeg" srcset="img/tmp/work@2x.jpg 2x, img/tmp/work.jpg 1x")
                                img(src="img/tmp/work.jpg" alt="" width="634" height="366")

                    .work__col.work__content
                        a.work__title.border-bottom(href="project.html") Комплексная имплантация ROOTT на винтовой фиксации
                        .work__text Пациент обратился в клинику с очень плохим состоянием зубов. Нашими специалистами была рекомендована комплексная имплантация ROOTT на винтовой фиксации. Лечение прошло успешно - результат вы можете видеть на фотографии "после" - зубы ровные и белые, челюсть полностью функционирует, нет проблем с дикцией
                        a.work__doctor(href="doctor.html")
                            picture
                                source(type="image/webp" srcset="img/tmp/doctor-small@2x.webp 2x, img/tmp/doctor-small.webp 1x")
                                source(type="image/png" srcset="img/tmp/doctor-small@2x.png 2x, img/tmp/doctor-small.png 1x")
                                img.work__doctor-img(src="img/tmp/doctor-small.png" alt="" width="40" height="40")

                            .work__doctor-content
                                .work__doctor-position доктор
                                .work__doctor-title Вознюк В.A

        .works-carousel__thumbs
            .works-carousel__slide
                .shtorka
                    picture.shtorka__img._before
                        source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                        img(src="img/tmp/work-thumb-before.jpg" alt="" width="179" height="121")

                    picture.shtorka__img._after
                        source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                        img(src="img/tmp/work-thumb.jpg" alt="" width="179" height="121")
            .works-carousel__slide
                .shtorka
                    picture.shtorka__img._before
                        source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                        img(src="img/tmp/work-thumb-before.jpg" alt="" width="179" height="121")

                    picture.shtorka__img._after
                        source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                        img(src="img/tmp/work-thumb.jpg" alt="" width="179" height="121")
            .works-carousel__slide
                .shtorka
                    picture.shtorka__img._before
                        source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                        img(src="img/tmp/work-thumb-before.jpg" alt="" width="179" height="121")

                    picture.shtorka__img._after
                        source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                        img(src="img/tmp/work-thumb.jpg" alt="" width="179" height="121")
            .works-carousel__slide
                .shtorka
                    picture.shtorka__img._before
                        source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                        img(src="img/tmp/work-thumb-before.jpg" alt="" width="179" height="121")

                    picture.shtorka__img._after
                        source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                        img(src="img/tmp/work-thumb.jpg" alt="" width="179" height="121")
            .works-carousel__slide
                .shtorka
                    picture.shtorka__img._before
                        source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                        img(src="img/tmp/work-thumb-before.jpg" alt="" width="179" height="121")

                    picture.shtorka__img._after
                        source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                        img(src="img/tmp/work-thumb.jpg" alt="" width="179" height="121")
            .works-carousel__slide
                .shtorka
                    picture.shtorka__img._before
                        source(type="image/webp" srcset="img/tmp/work-thumb-before@2x.webp 2x, img/tmp/work-thumb-before.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/work-thumb-before@2x.jpg 2x, img/tmp/work-thumb-before.jpg 1x")
                        img(src="img/tmp/work-thumb-before.jpg" alt="" width="179" height="121")

                    picture.shtorka__img._after
                        source(type="image/webp" srcset="img/tmp/work-thumb@2x.webp 2x, img/tmp/work-thumb.webp 1x")
                        source(type="image/jpeg" srcset="img/tmp/work-thumb@2x.jpg 2x, img/tmp/work-thumb.jpg 1x")
                        img(src="img/tmp/work-thumb.jpg" alt="" width="179" height="121")

        .works-carousel__dots.dots
            button.dots__item(type="button")
            button.dots__item(type="button")
            button.dots__item(type="button")
            button.dots__item(type="button")
            button.dots__item(type="button")
            button.dots__item(type="button")

        .section__more
            a.button._yellow(href="projects.html") все работы

