doctype html
html(lang="ru")
    head
        - var seo = {title: 'Врачи', description: 'Описание страницы врачей', keywords: 'Ключи страницы врачей'}
        include includes/_meta
    body
        include includes/_top

        include includes/_header

        main.main._inner
            include includes/_breadcrumbs

            include includes/_doctors

            include includes/_doctors-text

        include includes/_footer

        include includes/_svg

        include includes/_modal

        include includes/_scripts