doctype html
html(lang="ru")
    head
        - var seo = {title: 'Услуга', description: 'Описание страницы услуги', keywords: 'Ключи страницы услуги'}
        include includes/_meta
    body
        include includes/_top

        include includes/_header

        main.main._inner
            include includes/_breadcrumbs

            include includes/_service-top

            include includes/_intro-service

            include includes/_service-pluses

            include includes/_about

            include includes/_help

            include includes/_tabs

            include includes/_service-works

            include includes/_faq

            include includes/_service-doctors

            include includes/_question

        include includes/_footer

        include includes/_svg

        include includes/_modal

        include includes/_scripts