.modal {
	max-width: 1400px;
	width: 100%;
	padding: 0 !important;
	position: relative;
	color: $color_black;
	display: none;

	@media (max-width: 767px) {
		background: linear-gradient(22.28deg, #F2F2F2 23.31%, #FDF1E6 89.67%);
		padding: 20px 15px !important;
	}

	&._padding {
		padding: 30px !important;

		@media (max-width: 767px) {
			padding: 15px !important;
		}
	}

	& .is-close {
		display: none !important;
	}

	&__close {
		width: 25px;
		height: 25px;
		top: 20px;
		right: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;

		@media (max-width: 767px) {
			right: 15px;
			top: 15px;
		}

		&::before,
		&::after {
			content: '';
			width: 25px;
			height: 1px;
			background: $color_black;
			position: absolute;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}

	&__cols {
		display: flex;

		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	&__col {
		width: 50%;
		padding: 80px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (max-width: 767px) {
			width: 100%;
			padding: 0;
			background: none !important;
		}

		&._dark {
			background: #C8C3BE;
		}

		&._light {
			background: $color_beige;
		}

		&._question-left {
			padding-left: 0;
		}

		&._question-right {
			padding-right: 0;

			@media (max-width: 767px) {
				padding-top: 60px;
			}
		}
	}

	&__title {
		font-size: 2.62rem;
		font-weight: bold;
		line-height: 120%;
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (max-width: 991px) {
			font-size: 2rem;
			font-weight: 500;
		}

		@media (max-width: 767px) {
			padding-right: 40px;
		}

		&::after {
			content: '';
			width: 100px;
			height: 8px;
			background: $color_black;
			margin-top: 30px;

			@media (max-width: 991px) {
				display: none;
			}
		}
	}

	&__list {
		@media (max-width: 767px) {
			display: none !important;
		}
	}
}