.more {
	display: flex;
	align-items: center;
	color: $color_brown;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;

	&:hover {
		color: $color_black;

		& svg {
			stroke: $color_black;
		}
	}

	& svg {
		margin-left: 10px;
		stroke: $color_brown;
		transform: rotate(180deg);
		position: relative;
		top: 2px;
	}
}